 .mat-raised-button {
    font-size: xxx-large;
    text-align: center;
    width: 300px;
    height: 100px;

   }
.mat-display-1 {
  text-align: center;
 
   }
   .mat-display-3{
     text-align: center;
   }

    /* @media (max-heigth: 600px){
    .imagen{
      display: none;
    } 
  } */
 .imagenlogo{
  width: 80%;

}  
 .container{
   height: 100%;
   width: 100%;
 }
.containerboton{
  margin-bottom: 5%;
}
