.mat-card-header{
    align-items: center;
    text-align: center;
  } 
  .mat-card{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;  
  }