.center{
    align-items: center;
    text-align: center;
  } 
  .mat-card{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    margin: auto;
    align-items: center; 
  }