.imagenfondo{
    background: url("/assets/re2a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
  
}
/* 
@media screen and (orientation: landscape) {
   .imagen {
    background-size: contain;
    
    }
  }
  @media screen and (orientation: portrait) {
    .imagen {
     background-size: cover;
    
   }
   }  */
