
<section style="height: 90%;" class="signup-form">
  <form style="height: 90%;" #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="space-between center">
    <div style="height: 90%;" fxLayout="column" fxLayoutGap="10px">
    <mat-form-field >
      <input type="text" matInput placeholder="Ingrese su DNI" ngModel name="dni" required minlength="7" maxlength="8">
      <mat-error>Ingrese correctamente su dni.</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input type="email" matInput placeholder="Ingrese su email" ngModel name="email" email required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Debe ingresar su email.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Su email es invalido.</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input type="tel" matInput placeholder="Ingrese su telefono" ngModel name="telefono" required
        #telefonoInput="ngModel">
      <mat-error *ngIf="telefonoInput.hasError('required')">Debe ingresar su email.</mat-error>
    </mat-form-field>
    <div class="fill"></div>
      <button type="submit" routerLink="/signInS" mat-raised-button color="primary"
        [disabled]="f.invalid" fxFlex="20%">Ingresar</button>
      </div>
  </form>
</section>

