
  <form class="container" #f="ngForm" (ngSubmit)="onSubmit(f)"   fxLayout="column" fxLayoutAlign="space-between center">
          <div  fxLayoutAlign="center center">
        <img src="/assets/quedeuda.png" class="imagenlogo" >
      </div>
            <div  >
          <div>
            <mat-form-field>
              <input type="number" matInput placeholder="Ingrese su DNI" ngModel name="dni" required minlength="7"
                maxlength="8">
              <mat-error>Ingrese correctamente su dni.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input type="email" matInput  autocomplete="off" placeholder="Ingrese su email" ngModel name="email" email required
                #emailInput="ngModel">
              <mat-error *ngIf="emailInput.hasError('required')">Debe ingresar su email.</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">Su email es invalido.</mat-error>
            </mat-form-field>
          </div>
           <div>
            <mat-form-field>
              <input type="tel" matInput autocomplete="off" placeholder="Ingrese su telefono" ngModel name="telefono" required
                #telefonoInput="ngModel">
              <mat-error *ngIf="telefonoInput.hasError('required')">Debe ingresar su email.</mat-error>
            </mat-form-field>
          </div>
        </div>
<div >
        <!-- DIV VACIO PARA QUE HAYA LA MISMA CANT DE ELEMENTOS Y LA IMAGEN MANTENGA LA PROPORCION -->
</div>
      <div  fxLayoutAlign="center end" class="containerboton">
        <button type="submit" routerLink="/signInS" mat-raised-button color="primary"
          [disabled]="f.invalid">Registrarse</button>
      </div>

  </form>


