<div>
<mat-accordion>

  <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"> 
  <mat-expansion-panel-header >
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="container"  >
      <mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
      <mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
      <mat-panel-description> 
      Tarjeta de crédito:
      </mat-panel-description>
      <div class="mat-title"> $12.400</div>
      
      <div class="containercheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
    </div>
     </mat-expansion-panel-header>
     <app-tabledetalledeuda></app-tabledetalledeuda>
</mat-expansion-panel>

<mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"> 
  <mat-expansion-panel-header >
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="container"  >
      <mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
      <mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
      <mat-panel-description> 
      Crédito personal:
      </mat-panel-description>
      <div class="mat-title"> $40.650</div>
      
      <div class="containercheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
    </div>
     </mat-expansion-panel-header>
     <app-tabledetalledeuda></app-tabledetalledeuda>
</mat-expansion-panel>

<mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"> 
  <mat-expansion-panel-header >
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="container"  >
      <mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
      <mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
      <mat-panel-description> 
      Cuenta corriente:
      </mat-panel-description>
      <div class="mat-title"> $11.500</div>
      
      <div class="containercheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
    </div>
     </mat-expansion-panel-header>
     <app-tabledetalledeuda></app-tabledetalledeuda>
</mat-expansion-panel>

</mat-accordion>
</div>
