<div>
<mat-accordion>
<mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false"> 
  <mat-expansion-panel-header >
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="container"  >
      <mat-icon *ngIf="!panelOpenState">add_circle</mat-icon>
      <mat-icon *ngIf="panelOpenState">remove_circle</mat-icon>

      <div class="mat-title">Tarjeta de credito: $12.400</div>
      <div class="containercheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
    </div>
     </mat-expansion-panel-header>
     <app-tabledetalledeuda></app-tabledetalledeuda>
</mat-expansion-panel>
<mat-expansion-panel hideToggle >
  <mat-expansion-panel-header>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="container"  >
         <mat-icon>add_circle_outline</mat-icon>
          <div class="mat-title">Credito Personal: $400 </div>
          <div class="containercheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary" ></mat-checkbox>
      </div>
    </div>
     </mat-expansion-panel-header>
     <app-tabledetalledeuda></app-tabledetalledeuda>
</mat-expansion-panel>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header >
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="container"  >
         <mat-icon>add_circle_outline</mat-icon>
          <div class="mat-title">Credito Personal: $122.400</div>
      <div class="containercheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
    </div>
     </mat-expansion-panel-header>
     <app-tabledetalledeuda></app-tabledetalledeuda>
</mat-expansion-panel>
</mat-accordion>
</div>
