.mat-raised-button {
    font-size: xxx-large;
    text-align: center;
    width: 300px;
    height: 100px;
   }
   .fill {
    flex: 1;
  }
  mat-hint {
    font-size: 17px;
    
    
  }
  mat-form-field{
    width: 20rem;
    font-size: 30px;
    
  }
  .fill{
    flex:1;
  }
  .container{
    height: 100%;
    width: 100%;
    
   } 
   .containerboton{
    margin-bottom: 5%;
  }