<form class="container" fxLayoutAlign="space-between center" fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div fxLayoutAlign="center center" >
        <img src="/assets/quedeuda.png" class="imagenlogo" >
    </div>
    <div class="contenedortexto">
    <div  class="mat-title"> Revise su casilla de correo o SMS e ingrese aquí el código de verificación que le enviamos.</div>
</div>
    <div  fxLayoutAlign="center end" >
        <mat-form-field appearance="outline">
            <input type="number" matInput ngModel name="codigo" required spellcheck="false" autocomplete="off" style="text-align: center;">
            <mat-hint>     Ingrese el código recibido.</mat-hint>
          
        </mat-form-field>
    </div>
    <!-- <div class="mat-title" fxFlex>Ingrese el codigo de 4 digitos.</div> -->
    <div >
        <!-- DIV VACIO PARA QUE HAYA LA MISMA CANT DE ELEMENTOS Y LA IMAGEN MANTENGA LA PROPORCION -->
</div>
    <div class="containerboton"  fxLayoutAlign="center end">
        <button type="submit" routerLink="/autogestion" mat-raised-button color="primary" [disabled]="f.invalid"> Aceptar
        </button>
    </div>
</form>
