<section style="height: 90%;" class="signup-form" >
    <form style="height: 90%;" fxLayoutAlign="space-around center" fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field appearance="outline">
            <input matInput ngModel name="codigo" required minlength="4" maxlength="4">
            <mat-hint>Ingrese el codigo de 4 digitos.</mat-hint>
          </mat-form-field>
          <div class="fill"></div>
          <button type="submit" routerLink="/home" mat-raised-button color="primary" [disabled]="f.invalid"> Ingresar </button>
          </form>
  </section>