<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav"

  fixedInViewport
      [attr.role]="(isHandset$) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$) ? 'over' : 'side'"
      [opened]="!(isHandset$)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Mis Deudas</a>
      <a mat-list-item href="#">Mis pagos</a>
      <a mat-list-item href="#">Salir</a>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon justify="left" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span fxHide.xs>
        <mat-icon>lens</mat-icon>
        <a >Mis convenios</a>
        <a >Mis pagos</a>
      <mat-icon>notifications</mat-icon>


    </span >
      <span fxHide.gt-xs>
        <mat-icon>lens</mat-icon>
            <mat-icon>notifications</mat-icon>
      </span>


    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!--


 -->
