.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #222C65;
} 
.mat-nav-list{
  background-color: #222C65;
  
} 
 .hidden{
   display: none;
 }
.mat-nav-list a{
  color: white;
  text-decoration: none;
}
.mat-toolbar.mat-primary {
  background-color:#FF9C19;
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar a {
  
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.spacer-right {
  flex:1 1 auto;
}
  
.mat-toolbar.mat-toolbar{
  background-color:#FF9C19 ;
  
}
@media(max-width:768px){
.ubicacion{color: blue;}
.mat-toolbar{justify-content:center;}
.spacer-left {flex:1 1 auto;}
.desaparece{display: none;}
.spacer-right {flex:1 1 auto;}
.spacer-center{display: none;}

}

@media(min-width:769px){
  .ubicacion{color: red;}
  .spacer-center{flex:1 1 auto;}
  .sidenav{display: none;}
  .spacer-right {flex:1 1 auto;}
}

.notificacion-icon{
  justify-content: end;
}