@import '~@angular/material/theming';
@include mat-core();

$my-theme-app-primary: mat-palette($mat-indigo,900);
$my-theme-app-accent:  mat-palette($mat-teal, A200, A100, A400);
$my-theme-app-warn:    mat-palette($mat-orange);

$my-theme-app-theme: mat-light-theme((
  color: (
    primary: $my-theme-app-primary,
    accent: $my-theme-app-accent,
    warn: $my-theme-app-warn,  
  )
));

@include angular-material-theme($my-theme-app-theme);