<div>
<div fxFill fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div class="contenedorheader"  fxFlex="1"> 
        <app-encabezadoDosComponentes [dato]="header"></app-encabezadoDosComponentes>
    </div>
    <div  fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="end center">
        <div  class="mat-title">Marca los productos a abonar </div>
        <mat-icon>done_outline</mat-icon>
    </div>
    <div>
        <app-acordiondeuda></app-acordiondeuda>
    </div>
    <div fxFlex>
        <button routerLink="../misplanes" mat-raised-button color="primary">Aceptar</button>
    </div>
</div>
</div>