<div fxFill fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div class="contenedorheader" style="border: solid 3px green;" fxFlex="1"> 
        <app-encabezadoDosComponentes [dato]="header"></app-encabezadoDosComponentes>
    </div>
    <div style="border: solid 3px green;" fxLayout="row" fxLayoutAlign="end center">
        <div class="mat-title">Marca los productos a abonar</div>
        <mat-checkbox style="font-size: 30px;"></mat-checkbox>
    </div>
    <div>
        <app-acordiondeuda></app-acordiondeuda>
    </div>
    <div style="border: solid 3px green;" fxFlex>
        <button routerLink="../misplanes" mat-raised-button color="primary">Aceptar</button>
    </div>
</div>