
<mat-grid-list cols="2" fxLayoutAlign="center">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>BBVA</mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">CONSULTAR</button></mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile><mat-card>
            <mat-card-title>Creditia</mat-card-title>
            <mat-card-content></mat-card-content>
            <mat-card-actions><button mat-raised-button color="primary">CONSULTAR</button></mat-card-actions>
        </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
        <mat-card-title>Argenpesos</mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions><button mat-raised-button color="primary">CONSULTAR</button></mat-card-actions>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
        <mat-card-title>Cordial FC</mat-card-title>
        <mat-card-content></mat-card-content>
        <mat-card-actions><button mat-raised-button color="primary">CONSULTAR</button></mat-card-actions>
    </mat-card></mat-grid-tile>
  </mat-grid-list>
