<!-- <mat-grid-list cols="3" rowHeight="1:1" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-grid-tile >
    <mat-card >
      <mat-content>
        <button mat-button><img src="assets/enviarComprobanteIcono.png" class="shortCutImg" />
        </button>
      </mat-content>
      <mat-footer>
        <div class="mat-body-2">Enviar comprobante</div>
      </mat-footer>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card mat-button fxLayout="column" fxLayoutAlign="space-around center"><img src="assets/misPagosIcono.png"
        class="shortCutImg" />
      <div class="mat-body-2">Mis pagos</div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card mat-button fxLayout="column" fxLayoutAlign="space-around center"><img src="assets/misConveniosIcono.png"
        class="shortCutImg" />
      <div class="mat-body-2">Mis convenios</div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->
<div fxHide.gt-xs>
<mat-grid-list cols="3" rowHeight="1:1">
   <mat-grid-tile>
  <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-button>
      <img src="assets/enviarComprobanteIcono.png" class="shortCutImg"/>
    </button><div class="mat-body-2">Enviar comprobante</div></div>
    </mat-grid-tile>
 <mat-grid-tile>
  <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-button>
      <img src="assets/misPagosIcono.png" class="shortCutImg"/>
     </button><div class="mat-body-2">Mis pagos</div></div>
    </mat-grid-tile>
 <mat-grid-tile>
   <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">
   <button mat-button>
     <img src="assets/misConveniosIcono.png" class="shortCutImg"/>
    </button><div class="mat-body-2">Mis convenios</div></div>
  </mat-grid-tile>
</mat-grid-list>
</div>
<!-- 
<div class="container1" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" rowHeight="1:1" >
  <button fxLayout="column" fxLayoutAlign="space-around center"><img src="assets/enviarComprobanteIcono.png" class="shortCutImg" /><div class="mat-body-2">Enviar comprobante</div></button> 
 <button fxLayout="column" fxLayoutAlign="space-around center"><img src="assets/misPagosIcono.png" class="shortCutImg"/><div class="mat-body-2">Mis pagos</div></button>
 <button fxLayout="column" fxLayoutAlign="space-around center"><img src="assets/misConveniosIcono.png" class="shortCutImg"/><div class="mat-body-2">Mis convenios</div></button>
</div> 
-->