.shortCutImg
{
  max-width: 100%;
    height: auto;
}

.mat-body-2{
  font-size: 100%;
  line-height : 100%;
  text-align: center;
  margin-top: 0.4em;
  height: 30%;
  text-shadow: 3px 3px 2px rgba(0,0,0,.12);
  color: rgb(73, 70, 70);
}

.mat-grid-list{
  max-width: 500px;
  margin: auto;
}
.mat-button{
 height: 70%;
 width: 70%;
 background-color: white;
 margin-bottom: auto;
 box-shadow: 2px 2px 6px 0px black;
 }

.container1{
 height: 80%;
 width: 80%;
 }
