<mat-grid-list cols="3" rowHeight="1:1" fxHide.gt-xs>

   <mat-grid-tile>
  <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-button>
      <img src="assets/enviarComprobanteIcono.png" class="shortCutImg"/>
    </button>
    <div class="mat-body-2">Enviar comprobante</div></div>
    </mat-grid-tile>
 <mat-grid-tile>
  <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-button>
      <img src="assets/misPagosIcono.png" class="shortCutImg"/>
     </button>
     <div class="mat-body-2">Mis pagos</div></div>
    </mat-grid-tile>
 <mat-grid-tile>
   <div class="container1" fxLayout="column" fxLayoutAlign="space-around center">
   <button mat-button>
     <img src="assets/misConveniosIcono.png" class="shortCutImg"/>
    </button>
    <div class="mat-body-2">Mis convenios</div>
  </div>
  </mat-grid-tile>
</mat-grid-list>
