.sidenav-container {
  height: 100%;

}
.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  /* background: inherit; */
  background: transparent;
  display: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tarjeta{
  align-self: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-button img{
  width: 15%;
}
.mat-fab{
  background-color: green;
  
}
.fill{
  flex: 1;
}