<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <!-- funcion para abrir la side nav(isHandset$ | async) ===  -->
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Mis pagos</a>
      <a mat-list-item href="#">Mis convenios</a>
      <br>
      <a mat-list-item href="#">Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div >
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"  color="primary">
      <button type="button" fxHide.gt-xs aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon>lens</mat-icon>
      <span fxLayoutGap="20px" fxHide.xs>
        <a>Mis convenios</a>
        <a>Mis pagos</a>
      </span>
      <mat-icon>notifications</mat-icon>
    </mat-toolbar>
  </div>
 
     <app-home-msj></app-home-msj>
    <app-shortcuts></app-shortcuts>
    <app-card></app-card>
    
      </mat-sidenav-content>
</mat-sidenav-container>
