/* .sidenav-container {
  height: 100%;
} */

 .sidenav {
color: #1a237e;/*<-indigo 900*/
} 

.mat-nav-list{
 background-color: #fafafa; 
}

/* .mat-toolbar {
    display: none;
}  */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}

.tarjeta{
  align-self: center;
}

.mat-button img{
  width: 15%;
}

.mat-fab
{
  background: url("/assets/logo-quedeuda.png");
  background-size: cover;
  background-position: center;
  box-shadow: none
}
.app-shortcuts {
  margin: auto;
  justify-content: center;
}
.container{
  height: 100% !important;
  width: 100% !important; 

}