
 .sidenav-container {
  /* SIN ESTO NO FUNCIONA BIEN EL SCROLL */
  height: 100%;
  background-color: rgb(231, 231, 231);
}

 .sidenav {
/*color: #1a237e;<-indigo 900*/
color: #FF9C19;
}

.mat-nav-list{
 background-color: #fafafa;
}

/* .mat-toolbar {
    display: none;
}  */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

}

.tarjeta{
  align-self: center;
}

.mat-button img{
  width: 15%;
}

.mat-fab
{
  background: url("/assets/logo_sin_fondo.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none
}
.app-shortcuts {
  margin: auto;
  justify-content: center;
}

.container{
  height: 100% !important;
  width: 100% !important;

}

ul li{

display: block;
float: left;
}

ul li a{
  color: #1a237e;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#pestanias a{
  color: black;
  text-decoration:none;
}

#pestanias a:hover{
  font-size: 21px;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(104, 140, 173);
}

#menuLateral{
background-color: #1a237e !important;
}

mat-nav-list a{
  background-color: #1a237e !important;
  color: #fafafa;
  padding: 0px;
}
