<mat-sidenav-container class="sidenav-container">
  <mat-sidenav id="menuLateral" fxHide.gt-xs #drawer fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/autogestion">Mis deudas</a>
      <a mat-list-item routerLink="/autogestion/misPagos">Mis pagos</a>
      <a mat-list-item routerLink="/autogestion/misConvenios">Mis convenios</a>
      <a mat-list-item routerLink="/autogestion/enviarComprobante">Enviar comprobantes</a>

      <a id="salir" mat-list-item href="#" (click)="closeCurrentWindow()">Salir</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="accent">
        <button type="button" fxHide.gt-xs aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button routerLink="/autogestion" mat-fab >
        </button>
        <span id="pestanias"  fxLayoutGap="20px" fxHide.xs>
          <a routerLink="/autogestion">Mis deudas</a>
          <a routerLink="/autogestion/misConvenios">Mis convenios</a>
          <a routerLink="/autogestion/misPagos">Mis pagos</a>
          <a routerLink="/autogestion/enviarComprobante">Enviar comprobantes</a>
        </span>
        <mat-icon>notifications</mat-icon>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
